<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.wechatpro.dao.WechatOrderPrintMaper">
	
	<select id="selectOrderInfo" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			orderInf.id,
			orderInf.orderNumber,
			orderInf.createTime,
			orderInf.wetherPaymentTime,
			orderInf.orderPrice,
			orderInf.orderType,
			orderInf.dayNo,
			orderInf.phoneNumber,
			orderInf.orderDesc,
			CASE
		WHEN orderInf.orderType = 5 THEN
			(
				SELECT
					CONCAT(
						address.deliveryAddressProvince,
						address.deliveryAddressCity,
						address.deliveryAddressCount,
						address.deliveryAddressSpecific
					)
				FROM
					m_wechat_delivery_address AS address
				WHERE
					orderInf.orderEatTime = address.id
			)
		ELSE
			orderInf.orderEatTime
		END AS orderEatTime,
			mation.adminId AS shopId,
			mation.adminShopName
		FROM
			${tableName} AS orderInf,
			wechat_admin_login_mation AS mation
		WHERE
			orderInf.orderNumber = #{orderNumber}
		AND orderInf.orderAdminId = #{orderAdminId}
		AND mation.adminId = orderInf.orderAdminId
		AND wetherPayment=1
	</select>
	
	<select id="selectOrderPruduct" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			productName,
			productPrice,
			productNum
		FROM
			${tableName}
		WHERE
			orderId = #{id}
	</select>
	
	<select id="selectTimeQuantumOrderInfo" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			orderInf.id,
			orderInf.orderNumber,
			orderInf.createTime,
			orderInf.wetherPaymentTime,
			orderInf.orderPrice,
			orderInf.orderType,
			orderInf.dayNo,
			orderInf.phoneNumber,
			orderInf.orderDesc,
			CASE
		WHEN orderInf.orderType = 5 THEN
			(
				SELECT
					CONCAT(
						address.deliveryAddressProvince,
						address.deliveryAddressCity,
						address.deliveryAddressCount,
						address.deliveryAddressSpecific
					)
				FROM
					m_wechat_delivery_address AS address
				WHERE
					orderInf.orderEatTime = address.id
			)
		ELSE
			orderInf.orderEatTime
		END AS orderEatTime,
			mation.adminId AS shopId,
			mation.adminShopName
		FROM
			${tableName} AS orderInf,
			wechat_admin_login_mation AS mation
		WHERE
			mation.adminId = orderInf.orderAdminId
		<if test="orderAdminId != null and orderAdminId !=''">
			AND orderInf.orderAdminId = #{orderAdminId}
		</if>
		<if test="preTime != null and preTime !=''">
			AND orderInf.wetherPaymentTime >= #{preTime}
		</if>
		AND  #{nowTime} >= orderInf.wetherPaymentTime
		AND orderInf.orderNumber LIKE "%${nowDay}%"
		AND wetherPayment=1
	</select>
</mapper>