<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.wechatpro.dao.WechatProductPackageDiscountMapper">
	<!-- 显示所有的优惠套餐 -->
	<select id="selsctAllPackageDiscount" parameterType="java.util.Map" resultType="java.util.Map">
		select
			*
		from
			wechat_product_package_discount
		where
			wetherDiscount="Y"
	</select>
	
	<!-- 添加打折套餐 -->
	<insert id="insertPackageDiscount" parameterType="java.util.Map">
		insert wechat_product_package_discount
		(
			packageId,
			wetherDiscount,
			productPrice,
			createId,
			createTime,
			activityId
		)
		values
		(
			#{packageId},
			#{wetherDiscount},
			#{productPrice},
			#{createId},
			#{createTime},
			#{activityId}
		)
	</insert>
	
	<!-- 修改套餐信息 -->
	<update id="modifyPackageDiscount" parameterType="java.util.Map">
		update
			wechat_product_package_discount
		set
			<if test="packageId != null">
				packageId=#{packageId},
			</if>
			<if test="wetherDiscount != null">
				wetherDiscount=#{wetherDiscount},
			</if>
			<if test="productPrice !=null">
				productPrice=#{productPrice},
			</if>
			<if test="createId !=null">
				createId=#{createId},
			</if>
			<if test="activityId !=null">
				activityId=#{activityId}
			</if>
		where
			id=#{id}
	</update>
	
	<!-- 删除打折套餐（设置为不优惠） -->
	<update id="deletePackageDiscount" parameterType="java.util.Map">
		update
			wechat_product_package_discount
		set
			wetherDiscount = 'N'
		where
			id=#{id}
	</update>
</mapper>